@{
    ViewBag.Title = "Inicio";
}

<div class="jumbotron">
    <h1>Bienvenido a Microsoft Cognitive Services POC</h1>
    <p>Seleccione en la barra de navegación la aplicación que desea utilizar</p>
</div>