@{
    ViewBag.Title = "Listado";
}

<div class="jumbotron" >
    
   <h1 style="margin-left:94px;">Listado de Personas</h1>
   <br />

   <div id="wrapper" style="text-align:center">
       <div id="tablaListado" class="listado"></div>
   </div>    

    <div id="errorListado" class="alert alert-danger" role="alert" style="display: none;">
        Error: Problema al conectarse a la base de datos.
    </div>

</div>
